* {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
}

input {
  width: 100%;
  margin: 0;
}

.range-replacement {
  width: 100%;
  height: 10px;
}

.range-replacement:focus {
  outline: none;
}

.range-replacement-point {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #bdbdbd;
  border: 1px solid #b5b5b5;
  top: -9px;
  z-index: 20;
  box-shadow: inset 0px 0px 1px 1px #ffffff;
}

.range-replacement .track {
  width: 100%;
  height: 2px;
  background: #cccccc;
  top: 2px;
  position: absolute;
}

.range-replacement .tick {
  width: 1px;
  height: 5px;
  background: #cccccc;
  z-index: 10;
  text-indent: 100px;
  overflow: hidden
}

