* {
  box-sizing: border-box
}

input {
  width: 100%;
}

.range-replacement {
  width: 100%;
  height: 10px;
}

.range-replacement .point {
  width: 20px;
  height: 10px;
  background: red;
}

.range-replacement .track {
  width: 100%;
  height: 6px;
  background: green;
  top: 2px;
  position: absolute;
}

.range-replacement .tick {
  width: 1px;
  height: 5px;
  background: #000;
}

